.App {
  text-align: center;
}
body{
  background-color: 'rbg(255,255,255)';
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.login-button {
  margin-top: 25px !important;
}
.selectMenu{
  background-color: white;
  margin:2%;
}
.detailHeroText{
  text-align:left!important;
}
.schedule{
  display: flex;
  flex-direction: column;
  margin: 0 ;
  width: 50%;
  padding: 2% 0;
}
.schedule-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.firstSection{
  display: flex;
  padding: 2%;
}
.scrollButton{
  padding: 1% !important;
}
.home-container{
  background-color: antiquewhite;
  padding: 1%;
}
